<div class="slider__wrapper">

  <div class="slider__head-title">
    <h4 class="slider__subtitle">Мобильное приложение</h4>
    <h3 class="slider__title">NEUROHOME</h3>
    <a href="https://ktopoverit.ru" target="blank" class="slider__site-link">ktopoverit.ru</a>
  </div>

  <div class="slider__content slider-one" id="slider-one">
    <h4 class="slider__description">Дизайн, проектирование, разработка</h4>
    <div class="slider__inner">
      <div class="mobile__slide">
        <div class="mobile__slide-content">
          <img src="img/content/cases/mobile-content-1.jpg" alt="">
        </div>
      </div>
      <div class="mobile__slide">
        <div class="mobil__slide-content">
          <img src="img/content/cases/mobile-content-2.jpg" alt="">
        </div>
      </div>
      <div class="mobile__slide">
        <div class="mobil__slide-content">
          <img src="img/content/cases/mobile-content-1.jpg" alt="">
        </div>
      </div>
      <div class="mobile__slide">
        <div class="mobil__slide-content">
          <img src="img/content/cases/mobile-content-2.jpg" alt="">
        </div>
      </div>
      <div class="mobile__slide">
        <div class="mobil__slide-content">
          <img src="img/content/cases/mobile-content-1.jpg" alt="">
        </div>
      </div>
      <div class="mobile__slide">
        <div class="mobil__slide-content">
          <img src="img/content/cases/mobile-content-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="slider__wrapper">

  <div class="slider__head-title">
    <h4 class="slider__subtitle">Агрегатор</h4>
    <h3 class="slider__title">Кто поверит</h3>
    <a href="https://ktopoverit.ru" target="blank" class="slider__site-link">ktopoverit.ru</a>
  </div>

  <div class="slider__content slider-two" id="slider-two">
    <h4 class="slider__description">Дизайн, проектирование, разработка</h4>
    <div class="slider__inner">
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/642.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/642.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/642.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/642.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/642.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/642.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="slider__wrapper">

  <div class="slider__head-title">
    <h4 class="slider__subtitle">Агрегатор</h4>
    <h3 class="slider__title">RPV</h3>
    <a href="https://ktopoverit.ru" target="blank" class="slider__site-link">ktopoverit.ru</a>
  </div>

  <div class="slider__content slider-three" id="slider-three">
    <h4 class="slider__description">Дизайн, проектирование, разработка</h4>
    <div class="slider__inner">
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-two.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-two.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-two.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-two.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-two.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-two.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slider__wrapper">

  <div class="slider__head-title">
    <h4 class="slider__subtitle">Агрегатор</h4>
    <h3 class="slider__title">RFK</h3>
    <a href="https://ktopoverit.ru" target="blank" class="slider__site-link">ktopoverit.ru</a>
  </div>

  <div class="slider__content slider-four" id="slider-four">
    <h4 class="slider__description">Дизайн, проектирование, разработка</h4>
    <div class="slider__inner">
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-three4.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-three4.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-three4.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-three4.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-three4.jpg" alt="">
        </div>
      </div>
      <div class="website__slide">
        <div class="website__slide-content">
          <img src="img/content/cases/site-three4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

</div>