<div class="tab__text-wrapper">
  <div class="tab__subtitle">
    НАШИ ТЕХНОЛОГИИ
  </div>
  <div class="tab__text">
    <h3 class="tab__title">Web разработка</h3>
    <p class="tab__description">Что-то про вэб-разработку</p>
    <a href="cases.html" class="tab__content-link">Смотреть кейсы <img src="img/icons/arrow-right-gold.svg" alt="--->"></a>
  </div>
</div>

<div class="tab__employer">
  <div class="tab-image__positioner">
    <div class="tab__image">
      <img src="img/team/team-img-1.png" alt="">
    </div>
    <div class="tab__employer-content">
      <div class="tab__employer-data">
        <span class="employer__name">Гаганчиков Павел</span>
        <span class="employer__position">Руководитель Back end Разработки</span>
      </div>
      <div class="tab__modal-links">
        <div class="employer__links">
            <a href="#sixth-popup" class="modal__link sixth-popup__link edu__link">Обазование</a>
            <a href="#sixth-popup" class="modal__link sixth-popup__link exp__link">Опыт</a>
            <a href="#sixth-popup" class="modal__link sixth-popup__link skill__link">Навыки</a>
        </div>
      </div>
    </div>
  </div>
</div>