<div class="tab__text-wrapper">
  <div class="tab__subtitle">
    НАШИ ТЕХНОЛОГИИ
  </div>
  <div class="tab__text">
    <h3 class="tab__title">Hardware</h3>
    <p class="tab__description">В компании выделено отдельное направление по трейдингу. Мы успешно и активно примяняем математические алгоритмы, подходы машинного обучений в торговых задачах</p>
    <a href="cases.html" class="tab__content-link">Смотреть кейсы <img src="img/icons/arrow-right-gold.svg" alt="--->"></a>
  </div>
</div>

<div class="tab__employer">
  <div class="tab-image__positioner">
    <div class="tab__image">
      <img src="img/team/team-img-5.png" alt="">
    </div>
    <div class="tab__employer-content">
      <div class="tab__employer-data">
        <span class="employer__name">Роберт Васильев</span>
        <span class="employer__position">Генеральный директор</span>
      </div>
      <div class="tab__modal-links">
        <div class="employer__links">
          <a href="#first-popup" data-pop="13" class="modal__link edu__link">Обазование</a>
          <a href="#first-popup" data-pop="13" class="modal__link exp__link">Опыт</a>
          <a href="#first-popup" data-pop="13" class="modal__link skill__link">Навыки</a>
        </div>
      </div>
    </div>
  </div>
</div>