html, body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Intro-Book';
  line-height: 110%;
  font-weight: 400;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  transition: all 1s;
  position: relative;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

button,
input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

.page__content {
  transition: transform 1s;
  height: 100%;
  position: relative;

  &-toggle {
    transform: translateX(-100%);
    overflow-x: auto;
  }
  .page__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    display: none;
    z-index: 5;
    &--active{
      display: block;
    }
  }
}
.scroll-hidden{
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.burger__menu, .burger__menu-black, .tabs__nav-button, .cases__burger-menu {

    svg {
      height: 60px;
      width: 60px;
    }

    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .hamRotate.active {
      transform: rotate(45deg);
    }

    .hamRotate180.active {
      transform: rotate(180deg);
    }

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $orange2;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    .ham8 .top {
      stroke-dasharray: 40 160;
    }

    .ham8 .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    .ham8 .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    .ham8.active .top {
      stroke-dashoffset: -64px;
    }

    .ham8.active .middle {
      transform: rotate(90deg);
    }

    .ham8.active .bottom {
      stroke-dashoffset: -64px;
    }
  }