$orange: #D68F44;
$orange2: #F58638;
$text: #7C7C7C;
$grey2: #B5B5B5;
$bgblack: #232322;
$bgblack2: #151514;
$bgc: #B56C8A;
$copycolor: #4B66AB;
$black: #252721;
$tab-nav-top: 30px;
$tab__link-height: 37px;
$mainfont: "Raleway", sans-serif;
$headfont: "Bitter", serif;
