<div id="nineth-popup" class="popup">
  <div class="popup__close-btn">
    <div class="close-item"></div>
    <div class="close-item"></div>
  </div>
  <div class="popup__tab-menu">
    <a href="#popup" class="popup__tab-link popup__tab-link--open popup__edu-link">Образование</a>
    <a href="#popup" class="popup__tab-link popup__exp-link">Опыт</a>
    <a href="#popup" class="popup__tab-link popup__skill-link">Навыки</a>
  </div>
  <div class="popup__tabs">
    <div class="popup__tab popup__tab-edu popup__tab--open">
      <h5 class="popup-tab__title">
        ОБРАЗОВАНИЕ
      </h5>
      <p class="popup-tab__text">
        Аспирант МФТИ ГУ (направление прикладная
        математика и физика), магистр МФТИ ГУ (направление прикладная математика и физика), магистр (направление
        Экономика) РАНХиГС при президенте РФ, бакалавр НИУ МИЭТ (направление информационные технологии)
        в 19 лет основал свой первый технологический стартап, в 21 год закрыл первую инвестиционную сделку. Эксперт
        рабочей группы “Цифровая экономика России” по направлению “Big data”, “Blockchain” Призер международных
        студенческих олимпиад: по микроэлектронике (МИЭТ 2015), по физике (МИЭТ 2011) Победитель стартап-конкурсов по
        разработке и запуску проекта “Цифровая модель предприятия полупроводниковой промышленности”. Проект реализован и
        запущен на действующем производстве АО “Ангстрем-Т” Член совета молодых ученых г. Москвы
        Советник исплнительного директора Национальный Ассоциации Трансфера Технологий Если кратко:
      </p>
      <h5 class="popup-tab__title">EDUCATION</h5>
      <p class="popup-tab__text">
        postgraduate student of Moscow Institute of Physics and Technology, master of Moscow Institute of Physics and
        Technology, master’s degree in “Economics” (RANEPA the Russian Presidential Academy), bachelor of the National
        Research
        University «Moscow Institute of electronic engineering» Expert of the working group "Digital Economy of Russia"
        in
        the field of "Big data", "Blockchain"; Prize-winner of international student competitions in microelectronics
        (MIEE 2015), physics (MIEE 2011); Winner of start-up competitions in the development
        and launch of the project “Digital model of the semiconductor industry”
      </p>
    </div>
    <div class="popup__tab popup__tab-exp">
        <h5 class="popup-tab__title">
            Опыт
          </h5>
          <p class="popup-tab__text">
            Аспирант МФТИ ГУ (направление прикладная
            математика и физика), магистр МФТИ ГУ (направление прикладная математика и физика), магистр (направление
            Экономика) РАНХиГС при президенте РФ, бакалавр НИУ МИЭТ (направление информационные технологии)
            в 19 лет основал свой первый технологический стартап, в 21 год закрыл первую инвестиционную сделку. Эксперт
            рабочей группы “Цифровая экономика России” по направлению “Big data”, “Blockchain” Призер международных
            студенческих олимпиад: по микроэлектронике (МИЭТ 2015), по физике (МИЭТ 2011) Победитель стартап-конкурсов по
            разработке и запуску проекта “Цифровая модель предприятия полупроводниковой промышленности”. Проект реализован и
            запущен на действующем производстве АО “Ангстрем-Т” Член совета молодых ученых г. Москвы
            Советник исплнительного директора Национальный Ассоциации Трансфера Технологий Если кратко:
          </p>
          <h5 class="popup-tab__title">EDUCATION</h5>
          <p class="popup-tab__text">
            postgraduate student of Moscow Institute of Physics and Technology, master of Moscow Institute of Physics and
            Technology, master’s degree in “Economics” (RANEPA the Russian Presidential Academy), bachelor of the National
            Research
            University «Moscow Institute of electronic engineering» Expert of the working group "Digital Economy of Russia"
            in
            the field of "Big data", "Blockchain"; Prize-winner of international student competitions in microelectronics
            (MIEE 2015), physics (MIEE 2011); Winner of start-up competitions in the development
            and launch of the project “Digital model of the semiconductor industry”
          </p>
    </div>
    <div class="popup__tab popup__tab-skill">
        <h5 class="popup-tab__title">
            Навыки
          </h5>
          <p class="popup-tab__text">
            Аспирант МФТИ ГУ (направление прикладная
            математика и физика), магистр МФТИ ГУ (направление прикладная математика и физика), магистр (направление
            Экономика) РАНХиГС при президенте РФ, бакалавр НИУ МИЭТ (направление информационные технологии)
            в 19 лет основал свой первый технологический стартап, в 21 год закрыл первую инвестиционную сделку. Эксперт
            рабочей группы “Цифровая экономика России” по направлению “Big data”, “Blockchain” Призер международных
            студенческих олимпиад: по микроэлектронике (МИЭТ 2015), по физике (МИЭТ 2011) Победитель стартап-конкурсов по
            разработке и запуску проекта “Цифровая модель предприятия полупроводниковой промышленности”. Проект реализован и
            запущен на действующем производстве АО “Ангстрем-Т” Член совета молодых ученых г. Москвы
            Советник исплнительного директора Национальный Ассоциации Трансфера Технологий Если кратко:
          </p>
          <h5 class="popup-tab__title">EDUCATION</h5>
          <p class="popup-tab__text">
            postgraduate student of Moscow Institute of Physics and Technology, master of Moscow Institute of Physics and
            Technology, master’s degree in “Economics” (RANEPA the Russian Presidential Academy), bachelor of the National
            Research
            University «Moscow Institute of electronic engineering» Expert of the working group "Digital Economy of Russia"
            in
            the field of "Big data", "Blockchain"; Prize-winner of international student competitions in microelectronics
            (MIEE 2015), physics (MIEE 2011); Winner of start-up competitions in the development
            and launch of the project “Digital model of the semiconductor industry”
          </p>
    </div>
  </div>
</div>